<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold text-white" href="#" style="font-size: 24px;">RESTO Learn</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link fw-medium text-light" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-medium text-light" routerLink="/courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-medium text-light" routerLink="/enrollments">Enrollments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-medium text-light" routerLink="/userenrollments">EnrollmentsUser</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-medium text-light" routerLink="/quiz">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-medium text-light" routerLink="/progress">Progress</a>
                </li>
            </ul>

            <form class="d-flex">
                <input class="form-control me-2 rounded-pill" type="search" placeholder="Search courses or topics" aria-label="Search">
                <button class="btn btn-outline-warning rounded-pill" type="submit">Search</button>
            </form>


            <ul class="navbar-nav">
                @if(isLoggedIn){
                <li class="nav-item">
                    <a class="nav-link fw-medium text-light" (click)="logout()" routerLink="/login">Logout</a>
                </li>
                }
                @if(!isLoggedIn){
                <li class="nav-item">
                    <a class="nav-link fw-medium text-light" routerLink="/register">SignUp</a>
                </li>
                }
                @if(!isLoggedIn){
                <li class="nav-item">
                    <a class="nav-link btn btn-success rounded-pill px-3" routerLink="/login">Login</a>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>
<div style="margin-top: 50px;"> <router-outlet/> </div>