
<body>
    <div class="container">
        <div class="form-container">
            <h3 class="text-center"><i class="fas fa-plus-circle me-2"></i> Create New Course</h3>
            <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm.value)">

                <div class="form-group">
                    <label for="courseTitle"><i class="fas fa-book me-2"></i> Course Title:</label>
                    <input required minlength="6" type="text" #courseTitleRef="ngModel" name="courseTitle" ngModel class="form-control" id="courseTitle" placeholder="Enter course title">
                    <div *ngIf="courseTitleRef.errors && courseTitleRef.touched" class="alert alert-danger">
                        <div *ngIf="courseTitleRef.errors['required']"><i class="fas fa-exclamation-triangle me-2"></i> Provide Course Title</div>
                        <div *ngIf="courseTitleRef.errors['minlength']"><i class="fas fa-exclamation-circle me-2"></i> Title should be a minimum of 6 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="courseDescription"><i class="fas fa-file-alt me-2"></i> Course Description:</label>
                    <input required minlength="10" type="text" #courseDescriptionRef="ngModel" name="courseDescription" ngModel class="form-control" id="courseDescription" placeholder="Enter course description">
                    <div *ngIf="courseDescriptionRef.errors && courseDescriptionRef.touched" class="alert alert-danger">
                        <div *ngIf="courseDescriptionRef.errors['required']"><i class="fas fa-exclamation-triangle me-2"></i> Provide Course Description</div>
                        <div *ngIf="courseDescriptionRef.errors['minlength']"><i class="fas fa-exclamation-circle me-2"></i> Description should be a minimum of 10 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="courseCategory"><i class="fas fa-tags me-2"></i> Course Category:</label>
                    <input required minlength="3" type="text" #courseCategoryRef="ngModel" name="courseCategory" ngModel class="form-control" id="courseCategory" placeholder="Enter course category">
                    <div *ngIf="courseCategoryRef.errors && courseCategoryRef.touched" class="alert alert-danger">
                        <div *ngIf="courseCategoryRef.errors['required']"><i class="fas fa-exclamation-triangle me-2"></i> Provide Course Category</div>
                        <div *ngIf="courseCategoryRef.errors['minlength']"><i class="fas fa-exclamation-circle me-2"></i> Category should be a minimum of 3 characters</div>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label for="instructorId"><i class="fas fa-chalkboard-teacher me-2"></i> Instructor Id:</label>
                    <input required minlength="1" type="number" #instructorIdRef="ngModel" name="instructorId" ngModel class="form-control" id="instructorId" placeholder="Enter instructor ID">
                    <div *ngIf="instructorIdRef.errors && instructorIdRef.touched" class="alert alert-danger">
                        <div *ngIf="instructorIdRef.errors['required']"><i class="fas fa-exclamation-triangle me-2"></i> Provide instructor Id </div>
                    </div>
                </div> -->

                <div class="form-group">
                    <label for="prerequisites"><i class="fas fa-list-check me-2"></i> Prerequisites:</label>
                    <input required minlength="10" type="text" #prerequisitesRef="ngModel" name="prerequisites" ngModel class="form-control" id="prerequisites" placeholder="Enter course prerequisites">
                    <div *ngIf="prerequisitesRef.errors && prerequisitesRef.touched" class="alert alert-danger">
                        <div *ngIf="prerequisitesRef.errors['required']"><i class="fas fa-exclamation-triangle me-2"></i> Provide Prerequisites</div>
                        <div *ngIf="prerequisitesRef.errors['minlength']"><i class="fas fa-exclamation-circle me-2"></i> Prerequisites should be a minimum of 10 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="courseDuration"><i class="fas fa-hourglass-half me-2"></i> Duration (in hours)</label>
                    <input required minlength="1" type="number" #durationRef="ngModel" name="courseDuration" ngModel class="form-control" id="courseDuration" placeholder="Enter course duration">
                    <div *ngIf="durationRef.errors && durationRef.touched" class="alert alert-danger">
                        <div [hidden]="!durationRef.errors['required']"><i class="fas fa-exclamation-triangle me-2"></i> Provide duration</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="courseContent"><i class="fas fa-book-open me-2"></i> Course Content:</label>
                    <textarea required minlength="20" rows="7" #courseContentRef="ngModel" name="courseContent" ngModel class="form-control" id="courseContent" placeholder="Enter course content"></textarea>
                    <div *ngIf="courseContentRef.errors && courseContentRef.touched" class="alert alert-danger">
                        <div *ngIf="courseContentRef.errors['required']"><i class="fas fa-exclamation-triangle me-2"></i> Provide Course Content</div>
                        <div *ngIf="courseContentRef.errors['minlength']"><i class="fas fa-exclamation-circle me-2"></i> Content should be a minimum of 20 characters</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="youtubeLink"><i class="fab fa-youtube me-2"></i> YouTube Video Link:</label>
                    <input type="url" required #youtubeLinkRef="ngModel" name="youtubeLink" ngModel class="form-control" id="youtubeLink" placeholder="Enter YouTube video link" pattern="^(https?://)?(www\.)?(youtube\.com|youtu\.?be)/.+$">
                    <div *ngIf="youtubeLinkRef.errors && youtubeLinkRef.touched" class="alert alert-danger">
                        <div *ngIf="youtubeLinkRef.errors['required']"><i class="fas fa-exclamation-triangle me-2"></i> Provide YouTube link</div>
                        <div *ngIf="youtubeLinkRef.errors['pattern']"><i class="fas fa-exclamation-circle me-2"></i> Please enter a valid YouTube link</div>
                    </div>
                </div>

                <div class="button-group">
                    <button type="submit" [disabled]="!courseForm.valid" class="btn btn-primary"><i class="fas fa-plus me-2"></i> Create Course</button>
                    <button type="button" (click)="courseForm.reset()" class="btn btn-secondary"><i class="fas fa-undo me-2"></i> Reset</button>
                </div>

            </form>
        </div>
    </div>
</body>
