<!-- <div class="container">
  <h3>ADD EMPLOYEE</h3>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
      <div class="form-group">
          <label>USER ID: </label>
          <input required minlength="1" type="number" #empIdRef="ngModel" name="id" ngModel class="form-control">
          <div *ngIf="empIdRef.errors && empIdRef.touched" class="alert alert-danger">
              <div [hidden]="!empIdRef.errors['required']">Provide User Id</div>
          </div>
      </div>
      <div class="form-group">
          <label>USER NAME: </label>
          <input required minlength="6" type="text" #empNameRef="ngModel" name="name" ngModel class="form-control">
          <div *ngIf="empNameRef.errors && empNameRef.touched" class="alert alert-danger">
              <div *ngIf="empNameRef.errors['required']">Provide USER Name</div>
              <div *ngIf="empNameRef.errors['minlength']">Name should be a minimum of 6 characters</div>
          </div>
      </div>
      <div class="form-group">
          <label>Email: </label>
          <input required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" type="email" #empEmailRef="ngModel" name="email" ngModel class="form-control">
          <div *ngIf="empEmailRef.errors && empEmailRef.touched" class="alert alert-danger">
              <div *ngIf="empEmailRef.errors['required']">Provide Email</div>
              <div *ngIf="empEmailRef.errors['pattern']">Invalid Email Format</div>
          </div>
      </div>
      <input [disabled]="!userForm.valid" type="submit" value="Add User" class="btn btn-primary">
      <button type="button" (click)="userForm.reset()" class="btn btn-secondary">Reset</button>
  </form>
</div> -->


<div>
  <h3>Create Course</h3>
  <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm.value)">

    <!-- <div class="form-group">
      <label>COURSE ID: </label>
      <input required minlength="1" type="number" #courseIdRef="ngModel" name="courseId" ngModel class="form-control">
      <div *ngIf="courseIdRef.errors && courseIdRef.touched" class="alert alert-danger">
          <div [hidden]="!courseIdRef.errors['required']">Provide Course Id</div>
      </div>
  </div> -->

  <div class="form-group">
    <label >Course Title:</label>
    <input required minlength="6" type="text" #courseTitleRef="ngModel" name="courseTitle" ngModel class="form-control">
    <div *ngIf="courseTitleRef.errors && courseTitleRef.touched" class="alert alert-danger">
        <div *ngIf="courseTitleRef.errors['required']">Provide Course Title</div>
        <div *ngIf="courseTitleRef.errors['minlength']">Name should be a minimum of 6 characters</div>
    </div>
</div>
    <!-- <div class="form-group">
      <label for="courseTitle">Course Title:</label>
      <input type="text" ngModel id="courseTitle" name="courseTitle" class="form-control" required>
    </div> -->

    <!-- <div class="form-group">
      <label for="courseDescription">Course Description:</label>
      <textarea id="courseDescription" ngModel name="courseDescription" class="form-control" required></textarea>
    </div> -->

    <div class="form-group">
      <label >Course Description:</label>
      <input required minlength="6" type="text" #courseDescriptionRef="ngModel" name="courseDescription" ngModel class="form-control">
      <div *ngIf="courseDescriptionRef.errors && courseDescriptionRef.touched" class="alert alert-danger">
          <div *ngIf="courseDescriptionRef.errors['required']">Provide Course Description</div>
          <div *ngIf="courseDescriptionRef.errors['minlength']">Name should be a minimum of 6 characters</div>
      </div>
  </div>

    <!-- <div class="form-group">
      <label for="courseCategory">Course Category:</label>
      <input type="text" id="courseCategory" ngModel name="courseCategory" class="form-control" required>
    </div> -->

    <div class="form-group">
      <label >Course Category:</label>
      <input required minlength="6" type="text" #courseCategoryRef="ngModel" name="courseCategory" ngModel class="form-control">
      <div *ngIf="courseCategoryRef.errors && courseCategoryRef.touched" class="alert alert-danger">
          <div *ngIf="courseCategoryRef.errors['required']">Provide Course Category</div>
          <div *ngIf="courseCategoryRef.errors['minlength']">Name should be a minimum of 6 characters</div>
      </div>

    
  </div>


  <div class="form-group">
    <label >Instructor Id:</label>
    <input required minlength="1" type="number" #instructorIdRef="ngModel" name="instructorId" ngModel class="form-control">
    <div *ngIf="instructorIdRef.errors && instructorIdRef.touched" class="alert alert-danger">
        <div *ngIf="instructorIdRef.errors['required']">Provide instructor Id </div>
    </div>

   
</div>


    <!-- <div class="form-group">
      <label for="instructorId">Instructor ID:</label>
      <input type="number" id="instructorId" ngModel name="instructorId" class="form-control">
    </div> -->


    <div class="form-group">
      <label >Prerequisites:</label>
      <input required minlength="6" type="text" #prerequisitesRef="ngModel" name="prerequisites" ngModel class="form-control">
      <div *ngIf="prerequisitesRef.errors && prerequisitesRef.touched" class="alert alert-danger">
          <div *ngIf="prerequisitesRef.errors['required']">Provide Prerequisites</div>
          <div *ngIf="prerequisitesRef.errors['minlength']">Name should be a minimum of 6 characters</div>
      </div>
  </div>
    <!-- <div class="form-group">
      <label for="prerequisites">Prerequisites:</label>
      <textarea id="prerequisites" ngModel name="prerequisites" class="form-control" required></textarea>
    </div> -->


    <div class="form-group">
      <label >Duration (in hours)</label>
      <!-- <input required minlength="6" type="text" #durationRef="ngModel" name="duration" ngModel class="form-control">
      <div *ngIf="durationRef.errors && durationRef.touched" class="alert alert-danger">
          <div *ngIf="durationRef.errors['required']">Provide Duration</div>
          <div *ngIf="durationRef.errors['minlength']">Name should be a minimum of 6 characters</div>
      </div> -->

      <input required minlength="1" type="number" #durationRef="ngModel" name="duration" ngModel class="form-control">
      <div *ngIf="durationRef.errors && durationRef.touched" class="alert alert-danger">
          <div [hidden]="!durationRef.errors['required']">Provide duration</div>
      </div>

      <input [disabled]="!courseForm.valid" type="submit" value="Create Course" class="btn btn-primary">
      <button type="button" (click)="courseForm.reset()" class="btn btn-secondary">Reset</button>
  </div>

  
    <!-- <div class="form-group">
      <label for="courseDuration">Duration (in hours):</label>
      <input type="number" id="courseDuration" ngModel name="courseDuration" class="form-control" required>
    </div> -->

    <!-- <button type="submit" class="btn btn-primary">Save Course</button> -->
  </form>
</div>
