
<body>
    <div class="container mt-5">
        <div *ngIf="!selectedCourse">
            <h2 class="text-center text-black mb-4">My Courses</h2>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <input type="text" class="form-control w-25 shadow-sm" [(ngModel)]="searchText" placeholder="Search Courses">
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div *ngFor="let course of courses | filter: searchText" class="col-md-4 mb-4">
                    <div class="course-card-wrapper">
                        <div class="course-card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ course.courseTitle }}</h5>
                                <p class="card-text text-muted">{{ course.courseDescription }}</p>
                                <span class="badge badge-primary text-white">{{ course.courseCategory }}</span>
                                <p><strong class="text-muted">Duration:</strong> {{ course.courseDuration }} hours</p>
                                
                                <button class="btn btn-info btn-sm view-details-button" (click)="viewCourse(course)">
                                    <i class="fas fa-eye"></i> View Details
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>

         
        <div *ngIf="selectedCourse" class="mt-4 course-details-container">

            <div class="course-details-header">
                <h2>{{ selectedCourse.courseTitle }}</h2>
                <div>
                    <button class="btn btn-secondary" (click)="selectedCourse = null">
                        <i class="fas fa-arrow-left"></i> Back
                    </button>
                </div>
            </div>

                <div class="course-details-info">
                    <p><span class="course-badge">{{ selectedCourse.courseCategory }}</span></p>
                    <p><strong>Description:</strong> {{ selectedCourse.courseDescription }}</p>
                    <p><strong>Instructor ID:</strong> {{ selectedCourse.instructorId }}</p>
                    <p><strong>Duration:</strong> {{ selectedCourse.courseDuration }} hours</p>
                
            </div>
            <div class="course-details-actions">
                <button class="btn btn-info btn-sm view-details-button" (click)="startCourse(selectedCourse.courseId)">
                    <i class="fas fa-eye"></i> Start Course
                </button>
                
            </div>
        </div>

       
            
    </div>
</body>

       
           